<div class="main-content flex-1 bg-gray-100 mt-12 md:mt-2 pb-24 md:pb-5">
  <div class="bg-blue-800 p-2 shadow text-xl text-white">
    <h3 class="font-bold pl-2">Tiang Jaringan</h3>
  </div>

  <div class="flex flex-wrap">
    <div class="w-full md:w-1/2 xl:w-1/3 p-3">
      <!--Metric Card-->
      <div
        class="bg-green-100 border-b-4 border-green-600 rounded-lg shadow-lg p-5"
      >
        <div class="flex flex-row items-center">
          <div class="flex-shrink pr-4">
            <div class="rounded-full p-5 bg-green-600">
              <i class="fas fa-sign fa-2x fa-inverse"></i>
            </div>
          </div>
          <div class="flex-1 text-right md:text-center">
            <h5 class="font-bold uppercase text-gray-600">Jumlah Tiang</h5>
            <h3 class="font-bold text-3xl" id="jml_tiang">--</h3>
          </div>
        </div>
      </div>
      <!--/Metric Card-->
    </div>

    <div class="w-full md:w-1/2 xl:w-1/3 p-3">
      <!--Metric Card-->
      <div
        class="bg-yellow-100 border-b-4 border-yellow-600 rounded-lg shadow-lg p-5"
      >
        <div class="flex flex-row items-center">
          <div class="flex-shrink pr-4">
            <div class="rounded-full p-5 bg-yellow-600">
              <i class="fas fa-th-list fa-2x fa-inverse"></i>
            </div>
          </div>
          <div class="flex-1 text-right md:text-center">
            <h5 class="font-bold uppercase text-gray-600">
              Jumlah Atribut Tiang
            </h5>
            <h3 class="font-bold text-3xl" id="jml_atribut_tiang">--</h3>
          </div>
        </div>
      </div>
      <!--/Metric Card-->
    </div>
  </div>

  <div class="flex flex-row flex-wrap flex-grow mt-2">
    <div class="w-full md:w-full xl:w-full p-3">
      <!--Table Card-->
      <div class="bg-white border-transparent rounded-lg shadow-lg">
        <div
          class="bg-gray-400 border-b-2 border-gray-500 rounded-tl-lg rounded-tr-lg p-2"
        >
          <h5 class="font-bold uppercase text-gray-600">Peta</h5>
        </div>
        <div class="p-5" id="map" style="height: 500px"></div>
      </div>
      <!--/table Card-->
    </div>
  </div>
</div>

<script>
  function ambil_data_kabel(id, nama) {
    if (id && !isNaN(id)) {
      fetch(`/jaringan_untan/api/tiang/data_titik/${id}`)
        .then((hasil) => hasil.json())
        .then((hasil) => {
          L.marker([hasil.lat, hasil.lon], { title: nama }).addTo(map);
          map.setView([hasil.lat, hasil.lon], 18);
        });
    }
  }

  window.onload = function () {
    fetch("/jaringan_untan/api/tiang")
      .then((hasil) => hasil.json())
      .then((hasil) => {
        hasil.forEach((titik) => {
          ambil_data_kabel(titik.objek_peta_id, titik.nama);
        });
        jml_kabel_fo.innerText = hasil.length;
      });

    const jml_tiang = document.getElementById("jml_tiang");
    fetch("/jaringan_untan/api/tiang")
      .then((hasil) => hasil.json())
      .then((hasil) => {
        jml_tiang.innerText = hasil.length;
      });

    const jml_atribut_tiang = document.getElementById("jml_atribut_tiang");
    fetch("/jaringan_untan/api/atribut_tiang")
      .then((hasil) => hasil.json())
      .then((hasil) => {
        jml_atribut_tiang.innerText = hasil.length;
      });
  };

  var map = L.map("map").setView([-0.06081, 109.34501], 18);

  L.tileLayer("http://203.24.50.138:8080/hot/hot/{z}/{x}/{y}.png", {
    attribution:
      '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors',
  }).addTo(map);

  var hash = L.hash(map);
</script>
