<div class="main-content flex-1 bg-gray-100 mt-12 md:mt-2 pb-24 md:pb-5">
  <div class="bg-blue-800 p-2 shadow text-xl text-white">
    <h3 class="font-bold pl-2">ODC / OTB</h3>
  </div>

  <div class="flex flex-wrap">
    <div class="w-full md:w-1/2 xl:w-1/3 p-3">
      <!--Metric Card-->
      <div class="bg-blue-100 border-b-4 border-blue-600 rounded-lg shadow-lg p-5">
        <div class="flex flex-row items-center">
          <div class="flex-shrink pr-4">
            <div class="rounded-full p-5 bg-blue-600">
              <i class="fa fa-wallet fa-2x fa-inverse"></i>
            </div>
          </div>
          <div class="flex-1 text-right md:text-center">
            <h5 class="font-bold uppercase text-gray-600">Jumlah ODC - OTB</h5>
            <h3 class="font-bold text-3xl" id="jml_odc_otb">--</h3>
          </div>
        </div>
      </div>
      <!--/Metric Card-->
    </div>
    <div class="w-full md:w-1/2 xl:w-1/3 p-3">
      <!--Metric Card-->
      <div class="bg-red-100 border-b-4 border-red-500 rounded-lg shadow-lg p-5">
        <div class="flex flex-row items-center">
          <div class="flex-shrink pr-4">
            <div class="rounded-full p-5 bg-red-600">
              <i class="fas fa-users fa-2x fa-inverse"></i>
            </div>
          </div>
          <div class="flex-1 text-right md:text-center">
            <h5 class="font-bold uppercase text-gray-600">Jumlah Koneksi</h5>
            <h3 class="font-bold text-3xl" id="jml_koneksi">--</h3>
          </div>
        </div>
      </div>
      <!--/Metric Card-->
    </div>
  </div>

  <div class="flex flex-row flex-wrap flex-grow mt-2">
    <div class="w-full md:w-full xl:w-full p-3">
      <!--Table Card-->
      <div class="bg-white border-transparent rounded-lg shadow-lg">
        <div class="bg-gray-400 border-b-2 border-gray-500 rounded-tl-lg rounded-tr-lg p-2">
          <h5 class="font-bold uppercase text-gray-600">Table</h5>
        </div>
        <div class="p-5" id="map" style="height: 500px"></div>
      </div>
      <!--/table Card-->
    </div>
  </div>
</div>
<script>
  window.onload = function () {
    const jml_odc_otb = document.getElementById("jml_odc_otb");
    fetch("/jaringan_untan/api/odc_otb")
      .then((hasil) => hasil.json())
      .then((hasil) => {
        jml_odc_otb.innerText = hasil.length;
      });

    const jml_koneksi = document.getElementById("jml_koneksi");
    fetch("/jaringan_untan/api/odc_koneksi")
      .then((hasil) => hasil.json())
      .then((hasil) => {
        jml_koneksi.innerText = hasil.length;
      });
  };

  var map = L.map('map').setView([-0.06081, 109.34501], 18);

  L.tileLayer('http://203.24.50.236/hot/{z}/{x}/{y}.png', {
    attribution:
      '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors',
  }).addTo(map);

  var hash = L.hash(map);
</script>