<div class="main-content flex-1 bg-gray-100 mt-12 md:mt-2 pb-24 md:pb-5">
  <div class="bg-blue-800 p-2 shadow text-xl text-white">
    <h3 class="font-bold pl-2">Input Koneksi ODC / OTB</h3>
  </div>

  <div class="flex flex-row flex-wrap flex-grow mt-2">
    <div class="w-full md:w-full xl:w-full p-3">
      <!--Table Card-->
      <div class="bg-white border-transparent rounded-lg shadow-lg">
        <div
          class="bg-gray-400 border-b-2 border-gray-500 rounded-tl-lg rounded-tr-lg p-2"
        >
          <h5 class="font-bold uppercase text-gray-600">Table</h5>
        </div>
        <div class="p-5">
          <table class="w-full p-5 text-gray-700">
            <thead>
              <tr>
                <th class="text-left text-blue-900">No</th>
                <th class="text-left text-blue-900">Nama</th>
                <th class="text-left text-blue-900">Sumber</th>
                <th class="text-left text-blue-900">No Slot</th>
                <th class="text-left text-blue-900">Aksi</th>
              </tr>
            </thead>

            <tbody id="data_tabel">
              <tr>
                <td colspan="5">Loading...</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <!--/table Card-->

      <!-- form isian -->
      <div class="flex flex-row flex-wrap flex-grow mt-2">
        <div class="w-full md:w-full xl:w-full p-3">
          <div class="bg-white border-transparent rounded-lg shadow-lg">
            <div
              class="bg-gray-400 border-b-2 border-gray-500 rounded-tl-lg rounded-tr-lg p-2"
            >
              <h5 class="font-bold uppercase text-gray-600">Data Baru</h5>
            </div>
            <div class="p-5">
              <form
                class="w-full"
                method="post"
                action="/jaringan_untan/api/odc_koneksi"
              >
                <div class="flex flex-wrap -mx-3 mb-6">
                  <input
                    hidden
                    id="sumber_nama"
                    name="sumber_nama"
                    type="text"
                  />
                  <div class="w-full px-3">
                    <label
                      class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2"
                      for="nama"
                    >
                      Nama
                    </label>
                    <input
                      class="appearance-none block w-full bg-gray-200 text-gray-700 border rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white"
                      id="nama"
                      name="nama"
                      type="text"
                      placeholder="Nama"
                    />
                    <!-- <p class="text-red-500 text-xs italic">
                      Please fill out this field.
                    </p> -->
                  </div>
                </div>
                <div class="flex flex-wrap -mx-3 mb-2">
                  <div class="w-full md:w-1/3 px-3 mb-6 md:mb-0">
                    <label
                      class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2"
                      for="sumber_id"
                    >
                      Sumber
                    </label>
                    <div class="relative">
                      <select
                        class="block appearance-none w-full bg-gray-200 border border-gray-200 text-gray-700 py-3 px-4 pr-8 rounded leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
                        id="sumber_id"
                        name="sumber_id"
                        onchange="populate_slot(document.getElementById('sumber_id').value)"
                      >
                        <option value="">Loading...</option>
                      </select>
                      <div
                        class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700"
                      >
                        <svg
                          class="fill-current h-4 w-4"
                          xmlns="http://www.w3.org/2000/svg"
                          viewBox="0 0 20 20"
                        >
                          <path
                            d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"
                          />
                        </svg>
                      </div>
                    </div>
                  </div>
                  <div class="w-full md:w-1/3 px-3 mb-6 md:mb-0">
                    <label
                      class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2"
                      for="no_slot"
                    >
                      Nomor Slot
                    </label>
                    <div class="relative">
                      <select
                        class="block appearance-none w-full bg-gray-200 border border-gray-200 text-gray-700 py-3 px-4 pr-8 rounded leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
                        id="no_slot"
                        name="no_slot"
                        disabled
                      >
                        <option value="">--</option>
                      </select>
                      <div
                        class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700"
                      >
                        <svg
                          class="fill-current h-4 w-4"
                          xmlns="http://www.w3.org/2000/svg"
                          viewBox="0 0 20 20"
                        >
                          <path
                            d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"
                          />
                        </svg>
                      </div>
                    </div>
                  </div>
                  <div class="w-full md:w-1/3 px-3 mb-6 mt-6 md:mb-0">
                    <button
                      type="submit"
                      class="bg-blue-500 w-full hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
                    >
                      Submit
                    </button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <!-- form isian -->
    </div>
  </div>
</div>

<script>
  let daftar_odc = [];
  window.onload = function () {
    const data_tabel = document.getElementById("data_tabel");
    let isi = "";
    fetch("/api/odc_koneksi")
      .then((hasil) => hasil.json())
      .then((hasil) => {
        hasil.forEach((data, index) => {
          isi += `
        <tr>
          <td>${index + 1}</td>
          <td>${data.nama}</td>
          <td>${data.sumber_nama}</td>
          <td>${data.no_slot}</td>
          <td>
            <button  onclick="hapus(${
              data.id
            })" type="button" class="bg-blue-500 w-full hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" >
              Hapus
            </button>
          </td>
        </tr>`;
        });
        data_tabel.innerHTML = isi;
      });

    const data_sumber = document.getElementById("sumber_id");
    let isi_data_sumber = "";
    fetch("/api/odc_otb")
      .then((hasil) => hasil.json())
      .then((hasil) => {
        daftar_odc = hasil;

        hasil.forEach((data, index) => {
          isi_data_sumber += `<option value="${data.id}">${data.nama} - ${data.lokasi}</option>`;
        });
        data_sumber.innerHTML = isi_data_sumber;
      });
  };

  function populate_slot(id) {
    let sumber = {};
    daftar_odc.forEach((itm) => {
      if (itm.id == id) {
        sumber = itm;
      }
    });

    console.log(daftar_odc);

    document.getElementById("sumber_nama").value = sumber.nama;

    const data_slot = document.getElementById("no_slot");
    data_slot.disabled = false;
    let isi_data_slot = "";

    for (let x = 1; x <= sumber.jml_slot; x++) {
      isi_data_slot += `<option value="${x}">${x}</option>`;
    }
    data_slot.innerHTML = isi_data_slot;
  }

  function hapus(id) {
    fetch(`/api/odc_koneksi/${id}`, {
      method: "DELETE",
    }).then((hasil) => {
      location.reload();
    });
  }
</script>
