<!DOCTYPE html>
<html lang="en">
  <%- include('komponen/head'); %>

  <body class="bg-gray-900 font-sans leading-normal tracking-normal mt-12">
    <!--Nav-->
    <%- include('komponen/header'); %>

    <div class="flex flex-col md:flex-row">
      <!-- Sidebar -->
      <%- include('komponen/sidebar'); %>

      <!-- Isi -->
      <div class="main-content flex-1 bg-gray-100 mt-12 md:mt-2 pb-24 md:pb-5">
        <div class="bg-blue-800 p-2 shadow text-xl text-white">
          <h3 class="font-bold pl-2">Kabel Fiber Optik</h3>
        </div>

        <div class="flex flex-wrap">
          <div class="w-full md:w-1/2 xl:w-1/3 p-3">
            <!--Metric Card-->
            <div
              class="bg-red-100 border-b-4 border-red-600 rounded-lg shadow-lg p-5"
            >
              <div class="flex flex-row items-center">
                <div class="flex-shrink pr-4">
                  <div class="rounded-full p-5 bg-red-600">
                    <i class="fa fa-tasks fa-2x fa-inverse"></i>
                  </div>
                </div>
                <div class="flex-1 text-right md:text-center">
                  <h5 class="font-bold uppercase text-gray-600">
                    Jumlah Kabel Fiber Optik
                  </h5>
                  <h3 class="font-bold text-3xl" id="jml_kabel_fo">--</h3>
                </div>
              </div>
            </div>
            <!--/Metric Card-->
          </div>
        </div>

        <div class="flex flex-row flex-wrap flex-grow mt-2">
          <div class="w-full md:w-full xl:w-full p-3">
            <div class="bg-white border-transparent rounded-lg shadow-lg">
              <div
                class="bg-gray-400 border-b-2 border-gray-500 rounded-tl-lg rounded-tr-lg p-2"
              >
                <h5 class="font-bold uppercase text-gray-600">Peta</h5>
              </div>
              <div class="p-5" id="map" style="height: 500px"></div>
            </div>
          </div>
        </div>
      </div>
      <script>
        function ambil_data_kabel(id, nama) {
          if (id && !isNaN(id)) {
            fetch(`/api/kabel_fo/data_kabel/${id}`)
              .then((hasil) => hasil.json())
              .then((hasil) => {
                console.log(hasil.garis);
                L.polyline(hasil.garis, { color: "red" }).addTo(map);
                L.marker([hasil.garis[0][0], hasil.garis[0][1]], {
                  title: nama,
                }).addTo(map);
                map.setView([hasil.garis[0][0], hasil.garis[0][1]], 18);
              });
          }
        }
        window.onload = function () {
          const jml_kabel_fo = document.getElementById("jml_kabel_fo");
          fetch("/api/kabel_fo")
            .then((hasil) => hasil.json())
            .then((hasil) => {
              console.log(hasil);
              hasil.forEach((titik) => {
                ambil_data_kabel(titik.objek_peta, titik.nama);
              });
              jml_kabel_fo.innerText = hasil.length;
            });
        };
        var map = L.map("map").setView([-0.06081, 109.34501], 18);
        L.tileLayer("http://203.24.50.138:8080/hot/hot/{z}/{x}/{y}.png", {
          attribution:
            '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors',
        }).addTo(map);
        var hash = L.hash(map);
      </script>
    </div>
  </body>
</html>
