<nav
  class="bg-gray-900 pt-2 md:pt-1 pb-1 px-1 mt-0 h-auto fixed w-full z-20 top-0"
>
  <div class="flex flex-wrap items-center">
    <div
      class="flex flex-shrink md:w-1/2 justify-center md:justify-start text-white"
    >
      <a href="/jaringan_untan/" class="flex items-center">
        <img src="/static/untan.png" class="w-12 ml-2" alt="untan" />
        <span class="ml-2 font-bold text-lg">Jaringan Untan</span>
      </a>
    </div>

    <div
      class="flex w-full pt-2 content-center justify-between md:w-1/2 md:justify-end"
    >
      <ul
        class="list-reset flex justify-between flex-1 md:flex-none items-center"
      >
        <li class="flex-1 md:flex-none md:mr-3">
          <a
            class="inline-block py-2 px-4 text-white no-underline"
            href="/jaringan_untan/odc/input_koneksi"
            >Input Koneksi</a
          >
        </li>

        <li class="flex-1 md:flex-none md:mr-3">
          <a
            class="inline-block py-2 px-4 text-white no-underline"
            href="/jaringan_untan/odc/input_odc_otb"
            >Input ODC/OTB</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
